<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reply</title>
    <style>
        .save {
    color:SeaGreen;
    height:30px;
    }
    </style>
</head>
<body>
<div style="background-color:Beige;margin-left:20px;margin-right:20px;">

    <div style="background-color:#FB693F">
        <h1 style="margin-left:50px;"> Add Reply </h1>
    </div>

    <div style="margin-left:50px;margin-right:50px">

        Comment:- <span th:text="${comment.description}"></span>

        <form action="#" th:action="@{/addReply/{id}(id=${postId})}" th:object="${helperReply}" th:method="post">
            <span th:text="${postId}" hidden></span>
            <input type="hidden" th:field="*{id}" hidden>
            <input type="hidden" th:name="commentId" th:value="${comment.id}" hidden>
            <input type="hidden" th:name="saveorupdate" th:value="${saveOrUpdate}"><br><br>

            <textarea rows="10" cols="111" th:field="*{description}" placeholder="Enter Reply"
                      required></textarea><br><br>
            <input class="save" type="submit" value="Save" size="60">
        </form>
    </div>
    <br><br>
</div>
</body>
</html>