<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reply</title>
</head>
<body>
<div style="background-color:#FB693F">
   <h1> Add reply </h1>
</div>

<div style="background-color:#f6f6ef; padding: 11px 16px">

    <p th:text="${comment.description}"></p>

  <form action="#" th:action="@{/addReply/{id}(id=${postId})}" th:object="${helperReply}"  th:method="post">
      <input type="hidden" th:field="*{id}">
      <input type="hidden" th:name="commentId" th:value="${comment.id}" >
      <input type="hidden" th:name="saveorupdate" th:value="${saveOrUpdate}" ><br><br>

      <textarea rows="10" cols="111" th:field="*{description}" required></textarea><br><br>
    <input type="submit" value="save/edit" size="60">
  </form>
</div>
</body>
</html>