<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymLeaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Ask</title>
    <style>
    a{
    text-decoration: none;
    color: black;
    }

    </style>
</head>
<body>
<div style="background-color:red; padding: 11px 16px">
    <a th:href="@{/}">Hacker News |</a>
    <a th:href="@{/ask}">Ask | </a>
    <a th:href="@{/show}">Show | </a>
    <a th:href="@{/postform}">Submit |</a>
    <a th:text="'#'+${user.name}"/></a>
</div>
<br><br>

<div th:each="post: ${postByAskHN}">
    <div>
        <h2><a th:text="${post.title}" th:href="@{'/showquestion/' + ${post.id}}"></a>
        </h2>
        <span th:text="${post.points}+ ' points' +  ${post.userName} + ' created At : ' +${post.createdAt}"></span><br>
        <a th:href="@{'/upvote/'+${post.id}}">UpVote |</a>
        <a th:href="@{'/downvote/'+${post.id}}">DownVote |</a>
<!--        <a th:href="@{'/hide/'+${post.id}}"> Hide |</a>-->
        <a th:href="@{'/post/'+${post.id}}"> Comment |</a>
        <a th:href="@{'/deletepost/'+${post.id}}"> Delete |</a>
        <a th:href="@{'/updatepost/'+${post.id}}"> Update |</a>
        <br><br>
    </div>
    <br><br>
</div>
</body>
</html>