<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>form</title>
    <style>
        a{
        text-decoration: none;
        color: black;
        }










    </style>
</head>
<body>
<div style="background-color:red; padding: 11px 16px">
    <a th:href="@{/}">Hacker News |</a>
    <a th:href="@{/ask}">Ask | </a>
    <a th:href="@{/show}">Show | </a>
    <a th:href="@{/postform}">Submit</a>
</div>
<br><br><br>
<div th:each="post,iter: ${posts}">
    <div th:if="${post.isHide} ==false" style="border-width:2px;border-style:solid;border-color:black;">
        <h2><span th:text="${iter.index} +1"></span>
            <span> : </span>
            <a th:if="${#strings.startsWith(post.title,'Show HN:')}" th:text="${post.title}"
               th:href="${post.url}"></a>
            <a th:unless="${#strings.startsWith(post.title,'Show HN:')}" th:text="${post.title}"
               th:href="@{'/post/' + ${post.id}}"></a>

        </h2>
        <span th:text="${post.points}+ ' points' + ' username ' + ' created At : ' +${post.createdAt}"></span><br>
        <a th:href="@{'/vote/'+${post.id}}">Vote |</a><a th:if="${post.isHide}==false" th:href="@{'/hide/'+${post.id}}">
        Hide |</a>
        <!--        <a th:unless="${post.isHide}==false" th:href="@{'/unhide/'+${post.id}}">-->
        <!--            UnHide |</a>-->
        <a th:href="@{'/post/'+${post.id}}"> Comment |</a>
        <br><br>
    </div>
    <br><br>
</div>
</body>
</html>