<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>form</title>
    <style>
        a{
        text-decoration: none;
        color: black;
        }











    </style>
</head>
<body>
<div style="background-color:red; padding: 11px 16px">
    <a th:href="@{/}">Hacker News |</a>
    <a th:href="@{/ask}">Ask | </a>
    <a th:href="@{/show}">Show | </a>
    <a th:href="@{/postform}">Submit</a>
</div>
<br><br><br>
<!--<span th:text="${posts}"></span>-->
<div th:each="post,iter: ${posts}">
    <div style="border-width:2px;border-style:solid;border-color:black;">
        <h2><span th:text="${iter.index} +1"></span><span> : </span><a th:text="${post.title}"
                                                                       th:href="@{'/showquestion/' + ${post.id}}"></a>
        </h2>
        <span th:text="${post.points}+ ' points' + ' username ' + ' created At : ' +${post.createdAt}"></span><br>
        <a th:href="@{'/vote/'+${post.id}}">Vote |</a><a th:href="@{/hide}"> Hide |</a><a th:href="@{'/comment/'+${post.id}}"> Hide |</a>
        <br><br>
    </div>
    <br><br>
</div>
</body>
</html>