<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <style>
        a{
        text-decoration: none;
        color: black;
        }
        div{
        display: float-right;
        }
    </style>
</head>
<body>
<h1 align="center" style="background-color:black;color:white">Hello</h1>
<br>
<div style="background-color:red; padding: 11px 16px">
    <a th:href="@{/}">Hacker News |</a>
    <a th:href="@{/ask}">Ask | </a>
    <a th:href="@{/show}">Show | </a>
    <a th:href="@{/postform}">Submit |</a>
    <a th:href="@{/login}">Login |</a>
    <a th:href="@{/logout}">Logout |</a>
    <a th:href="@{/register}">Register</a>

    <div style="float: right ">
        <form action="#" th:action="@{/search}" th:method="get">
            <input type="text" th:name="search" placeholder="search" required>
            <input type="submit" value="search">
        </form>
    </div>
</div>
<br><br><br>
</div>
<a th:href="@{'/page/' + ${currentPage} + '?sortField=createdAt&sortDirection='+${reverseSortDirection}}">Sort by
    published date</a>
</div>
<div th:each="post: ${listOfPost}">
    <div>
        <h2>
            <a th:if="${#strings.startsWith(post.title,'Show HN:')}" th:text="${post.title}"
               th:href="${post.url}"></a>
            <a th:unless="${#strings.startsWith(post.title,'Show HN:')}" th:text="${post.title}"
               th:href="@{'/post/' + ${post.id}}"></a>
        </h2>
        <span th:text="${post.points}+ ' points' +' Created By: '+ ${post.userName} + ' created At : ' +${post.createdAt}"></span><br>
        <a th:href="@{'/vote/'+${post.id}}">Vote |</a>
        <a th:href="@{'/unvote/'+${post.id}}">UnVote |</a>
        <!--        <a th:if="${user.isVoted}==true" th:href="@{'/unvote/'+${post.id}}">UnVote |</a>-->

        <!--        <a th:if="${post.isHide}==false" th:href="@{'/hide/'+${post.id}}">Hide |</a>-->
        <a th:href="@{'/post/'+${post.id}}"> Comment |</a>
        <a th:href="@{'/deletepost/'+${post.id}}"> Delete |</a>
        <a th:href="@{'/updatepost/'+${post.id}}"> Update |</a>
        <br><br>
    </div>
    <br><br>
</div>
<div th:if="${totalPages > 1}">
         <span th:each="i: ${#numbers.sequence(1, totalPages)}">
            <a th:if="${currentPage !=i}"
               th:href="@{'/page/'+ ${i} + '?sortField=' + ${sortField}+ '&sortDirection=' + ${sortDirection}}">[[${i}]]</a>
            <span th:unless="${currentPage !=i}">[[${i}]]</span> &nbsp;&nbsp;
        </span>
    <a th:if="${currentPage < totalPages}"
       th:href="@{'/page/' +  ${currentPage + 1}+'?sortField=' + ${sortField}+ '&sortDirection=' + ${sortDirection}}">next</a>
    <span th:unless="${currentPage < totalPages}">Last</span>
</div>
</body>
</html>