<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymLeaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Ask</title>
  <style>
    a{
    text-decoration: none;
    color: black;
    }
  </style>
</head>
<body>
<div style="background-color:red; padding: 11px 16px">
  <h1 >Submit</h1>
</div><br>

<div>
  <form action="#" th:action="@{/addquestion}"  th:object="${questions}" method="post">
    <label>Title</label>
    <input th:type="text" th:field="*{title}" placeholder="write title here" required size="75"><br><br>
    <!--input th:type="url" th:field="*{url}" placeholder="write title here" required/-->
    <label>Text</label>
    <textarea rows="10" cols="90" th:field="*{question}" required></textarea><br><br>
    <input type="submit" value="submit">
  </form>
</div>
</body>
</html>