<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        a{
        text-decoration: none;
        color: black;
        }
        div{
        display: float-right;
        }
         .anchorTag {
        color:FireBrick;
        }
    </style>
</head>
<body>
<div style="background-color:Beige;margin-left:20px;margin-right:20px;">
    <div style="background-color:#FB693F; padding: 11px 16px">
        <a th:href="@{/}">Hacker News</a>
    </div>
    <br>
    <div style="margin-left:50px;margin-right:50px">
        <div>
            <form action="#" th:action="@{/filter}" method="post">
                <label>Filter</label>
                <input type="hidden" th:name="search" th:value="${search}">
                <select name="type">
                    <option th:value="stories">stories</option>
                    <option th:value="comments">comments</option>
                </select>
                <label>by</label>
                <select name="by">
                    <option th:value="popular ">popular</option>
                    <option th:value="date">date</option>
                </select>
                <label>from</label>
                <input type="datetime-local" th:name="startDateTime" placeholder=" "/>
                <label>to</label>
                <input type="datetime-local" th:name="endDateTime" placeholder=" "/>
                <input type="submit" value="Apply">
            </form>
        </div>
        <hr style="color:MidnightBlue">
        <div th:each="post: ${posts}">
            <h2>
                <a th:if="${#strings.startsWith(post.title,'Show HN:')}" th:text="${post.title}"
                   th:href="${post.url}"></a>
                <a th:unless="${#strings.startsWith(post.title,'Show HN:')}" th:text="${post.title}"
                   th:href="@{'/post/' + ${post.id}}"></a>
            </h2>
            <span th:text="${post.points}+ ' points' + ' created by: ' + ${post.userName} + ' created At : '
            +${post.createdAt}"></span><br>
            <a class="anchorTag" th:href="@{'/upvote/'+${post.id}}">UpVote</a>&ensp;|&ensp;
            <a class="anchorTag" th:href="@{'/downvote/'+${post.id}}">DownVote</a>&ensp;|
            <a class="anchorTag" th:href="@{'/post/'+${post.id}}"> Comment</a>
            <hr style="color:MidnightBlue">
        </div>
        <div th:each="comm: ${comments}">
            <h3 th:text="${comm.description}"></h3><br>
            <span th:text="'Posted By:- '+ ${comm.name}+'Created At:- '+${comm.createdAt}"></span>
            <hr style="color:MidnightBlue">
        </div>
    </div>
    <br><br>
</div>
</body>
</html>