<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        a{
        text-decoration: none;
        color: black;
        }
        div{
        display: float-right;
        }

    </style>
</head>
<body>
<div style="background-color:red; padding: 11px 16px">
    <a th:href="@{/}">Hacker News</a>

    <!--div style="float: right "><form action="#" th:action="@{/search}" th:method="get">
        <input type="text" th:name="search" placeholder="search" required>
        <input type="submit" value="search">
    </form></div-->

</div>
<div>
    <form action="#" th:action="@{/filter}" method="post">

            <label>Search</label>
            <input type="hidden"  th:name="search" th:value="${search}">
            <select name="type">
            <option th:value="stories">stories</option>
            <option th:value="comments">comments</option>

            </select>

            <label>by</label>
            <select name="by">

                <option th:value="popular ">popular</option>
                <option th:value="date">date</option>

            </select>
            <label>from</label>
            <input type="datetime-local" th:name="startdatetime" placeholder=" " />
            <label>to</label>
            <input type="datetime-local" th:name="enddatetime" placeholder=" "/>
        <input type="submit" value="Apply">
    </form>
</div>
<div th:each="post: ${postslist}">

        <h2>
            <a th:if="${#strings.startsWith(post.title,'Show HN:')}" th:text="${post.title}"
               th:href="${post.url}"></a>
            <a th:unless="${#strings.startsWith(post.title,'Show HN:')}" th:text="${post.title}"
               th:href="@{'/post/' + ${post.id}}"></a>
        </h2>
        <span th:text="${post.points}+ ' points' + ' username ' + ' created At : ' +${post.createdAt}"></span><br>
    <p> <a th:href="@{'/post/'+${post.id}}"> Comment |</a></p>
        <br><br>
</div>

<div th:each="comm: ${comments}">
    <p th:text="${comm.description}"></p>

</div>
</body>
</html>