<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
    <style>
        a{
        text-decoration: none;
        color: black;
        }
        div{
        display: float-right;
        }
         .anchorTag {
        color:FireBrick;
        }
    </style>
</head>
<body>
<div style="background-color:Beige;margin-left:20px;margin-right:20px;">
    <div style="background-color:#FB693F; padding: 11px 16px">
        <a th:href="@{/}">Hacker News |</a>
        <a th:href="@{/ask}">Ask | </a>
        <a th:href="@{/show}">Show | </a>
        <a th:href="@{/postform}">Submit |</a>
        <a th:href="@{/logout}">Logout |</a>
        <a th:text="'#'+${user.name}"></a>

        <div style="float: right ">
            <form action="#" th:action="@{/search}" th:method="get">
                <input type="text" th:name="search" placeholder="search" required>
                <input type="submit" value="search">
            </form>
        </div>
    </div>
    <br>
    <div style="margin-left:50px;margin-right:50px">
        <a th:href="@{'/page/' + ${currentPage} + '?sortField=createdAt&sortDirection='+${reverseSortDirection}}">
            <button style="background-color:DarkSlateGray;width:150px;height:30px;color:white">Sort by Date</button>
        </a>
        <a style="float:right;" th:href="@{/showhidepost/}">
            <button style="background-color:DarkSlateGray;width:150px;height:30px;color:white">View Hide Posts</button>
        </a>
        <hr style="color:MidnightBlue">
        <div th:each="post: ${posts}">
            <div th:unless="${#lists.contains(post.hideByUsers,user)}">
                <h2>
                    <a th:if="${#strings.startsWith(post.title,'Show HN:')}" th:text="${post.title}"
                       th:href="${post.url}"></a>
                    <a th:unless="${#strings.startsWith(post.title,'Show HN:')}" th:text="${post.title}"
                       th:href="@{'/post/' + ${post.id}}"></a>
                </h2>
                <span th:text="${post.points}+ ' points' +' Created By: '+ ${post.userName} + ' created At : '
                 +${post.createdAt}"></span><br>
                <a class="anchorTag" th:href="@{'/upvote/'+${post.id}}">UpVote</a> &ensp;|&ensp;
                <a class="anchorTag" th:href="@{'/downvote/'+${post.id}}">DownVote</a> &ensp;|&ensp;
                <a class="anchorTag" th:href="@{'/post/'+${post.id}}"> Comment</a> &ensp;|&ensp;
                <a class="anchorTag" th:href="@{'/hide/'+${post.id}}">Hide</a> &ensp;|&ensp;
                <a class="anchorTag" th:if="${user.name==post.userName}" th:href="@{'/deletepost/'+${post.id}}">
                    Delete &ensp;|&ensp;</a>
                <a class="anchorTag" th:if="${user.name==post.userName}" th:href="@{'/updatepost/'+${post.id}}">
                    Update &ensp;|&ensp;</a>
                <hr style="color:MidnightBlue">
            </div>
        </div>
        <div align="center" th:if="${totalPages > 1}">
         <span th:each="i: ${#numbers.sequence(1, totalPages)}">
            <a th:if="${currentPage !=i}"
               th:href="@{'/page/'+ ${i} + '?sortField=' + ${sortField}+ '&sortDirection=' + ${sortDirection}}"><button
                    style="background-color:Wheat;height:30px;width:30px">[[${i}]]</button></a>
             <span th:unless="${currentPage !=i}"><button
                     style="background-color:Wheat;height:30px;width:30px">[[${i}]]</button></span> &nbsp;&nbsp;
        </span>
            <a th:if="${currentPage < totalPages}"
               th:href="@{'/page/' +  ${currentPage + 1}+'?sortField=' + ${sortField}+ '&sortDirection=' +
                ${sortDirection}}">
                <button style="background-color:Wheat;height:30px;">Next</button>
            </a>
            <span th:unless="${currentPage < totalPages}">Last</span>
            <br><br>
        </div>
    </div>
</div>
</body>
</html>