<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>

    <style>
        .center {
         border:5px solid blue;
        }
    </style>
</head>
<body>
<a href="/">
    <button style="background-color:maroon;color:white;width:150px;height:40px;">Home</button>
</a>
<div align="center">
    <div th:if="${param.error}" class="alert alert-danger">
        <h2 style="background-color:red;color:white;width:600px;height:50px" align="center">Invalid username and
            password</h2>
    </div>
    <div th:if="${param.logout}" class="alert alert-success">
        <h2 style="background-color:green;color:white;width:600px;height:50px" align="center">You are successfully
            logged
            out</h2>
    </div>

    <form th:action="@{/login}" method="post">

        <label for="email"><h2 style="width:1000px;height:50px">Email:</h2></label><br>
        <input style="height:50px;width:500px" type="email" id="email" name="email" placeholder="Your Email"
               required><br><br>

        <label for="password"><h2 style="width:1000px;height:50px">Password:</h2></label><br>
        <input style="height:50px;width:500px" type="password" id="password" name="password" placeholder="Your Password"
               required><br><br>

        <input style="height:50px;width:500px;background-color:green" type="submit" value="Login"><br><br>
    </form>
    <div>Don't have account <a href="/register">
        <button style="background-color:tomato;color:white;width:100px;height:30px;">Sign Up</button>
    </a></div>
</div>
</body>
</html>