<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ask</title>
    <style>
    a{
    text-decoration: none;
    color: black;
    }
    </style>
</head>
<body>
<div style="background-color:red; padding: 11px 16px">
    <a th:href="@{/}">Hacker News |</a>
    <a th:href="@{/ask}">Ask | </a>
    <a th:href="@{/show}">Show | </a>
    <a th:href="@{/postform}">Submit</a>
</div>
<br>
<div style="background-color:#FB693F; padding: 11px 16px">
    <h3 th:text="${post.title}" th:align="left"></h3><br>
    <p th:text="${post.text}" th:align="left"></p>
    <form action="#" th:action="@{/save/{id}(id=${post.id})}" th:object="${comment}" th:method="post">
        <input type="text" th:field="*{id}" hidden><br><br>
        <textarea rows="10" cols="111" th:field="*{description}" required></textarea><br><br>
        <input type="submit" value="save comment" size="60">
    </form>
    <div th:each="comment : ${post.comments}">
        <h3 th:text="${comment.description}"></h3>
        <span th:text="${comment.points}"></span> points
        | Posted By:-<span th:text="${comment.name}"></span>
        | Created At:-<span th:text="${comment.createdAt}"></span>
        <table>
            <td>
                <a th:href="@{'/upvotecomment/'+${comment.id}+'/'+${post.id}}">
                    <button>UpVote</button>
                </a>
            </td>
            <td>
                <a th:href="@{'/downvotecomment/'+${comment.id}+'/'+${post.id}}">
                    <button>DownVote</button>
                </a>
            </td>
            <td>
                <div th:if="${comment.name==user.name}">
                    <form action="#" th:action="@{'/delete/'+${comment.id}+'/'+${post.id}}" th:method="post">
                        <input type="submit" value="delete comment">
                    </form>
                </div>
            </td>
            <td>
                <div th:if="${comment.name==user.name}">
                    <form action="#" th:action="@{'/updateCommentForm/'+${comment.id}+'/'+${post.id}}" th:method="get">
                        <input type="submit" value="update comment">
                    </form>
                </div>
            </td>
        </table>
    </div>
</div>
</body>
</html>