<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ask</title>
    <style>
    a{
    text-decoration: none;
    color: black;
    }
    .delete {
    color:red;
    height:30px;
    }
    .update {
    color:blue;
    height:30px;
    }
    .reply {
    color:DimGrey;
    height:30px;
    }
    .save {
    color:SeaGreen;
    height:30px;
    }




    </style>
</head>
<body>
<div style="background-color:Beige;margin-left:20px;margin-right:20px;">

    <div style="background-color:#FB693F; padding: 11px 16px">
        <a th:href="@{/}">Hacker News |</a>
        <a th:href="@{/ask}">Ask | </a>
        <a th:href="@{/show}">Show | </a>
        <a th:href="@{/postform}">Submit</a>
    </div>
    <br>
    <div style="margin-left:50px;margin-right:50px">
        <h3 th:text="${post.title}" th:align="left"></h3><br>
        <p th:text="${post.text}" th:align="left"></p>
        <form action="#" th:action="@{/save/{id}(id=${post.id})}" th:object="${comment}" th:method="post">
            <input type="text" th:field="*{id}" hidden><br><br>
            <textarea rows="10" cols="111" th:field="*{description}" required></textarea><br><br>
            <input class="save" type="submit" value="Save Comment" size="60">
        </form>
        <div th:each="comment : ${post.comments}">
            <h3 th:text="${comment.description}"></h3>
            <span th:text="${comment.points}"></span> points
            | Posted By:-<span th:text="${comment.name}"></span>
            | Created At:-<span th:text="${comment.createdAt}"></span>
            <table>
                <td>
                    <a th:href="@{'/upvotecomment/'+${comment.id}+'/'+${post.id}}">
                        <button class="update">UpVote</button> &ensp;
                    </a>
                </td>
                <td>
                    <a th:href="@{'/downvotecomment/'+${comment.id}+'/'+${post.id}}">
                        <button class="delete">DownVote</button> &ensp;
                    </a>
                </td>
                <td>
                    <div th:if="${comment.name==user.name}">
                        <form action="#" th:action="@{'/updateCommentForm/'+${comment.id}+'/'+${post.id}}"
                              th:method="get">
                            <input class="update" type="submit" value="Update Comment"> &ensp;
                        </form>
                    </div>
                </td>
                <td>
                    <div th:if="${comment.name==user.name}">
                        <form action="#" th:action="@{'/delete/'+${comment.id}+'/'+${post.id}}" th:method="post">
                            <input class="delete" type="submit" value="Delete Comment"> &ensp;
                        </form>
                    </div>
                </td>
                <td>
                    <div>
                        <form action="#" th:action="@{'/addReply/'+${comment.id}+'/'+${post.id}}" th:method="get">
                            <input class="reply" type="submit" value="Reply">
                        </form>
                    </div>
                </td>
            </table>
            <div style="margin-left:100px;" th:each="rep : ${reply}">
            <span th:if="${rep.commentId==comment.id}">
                <h4 th:text="${rep.description}"></h4>
                <span th:text="'Posted By:- '+${rep.name}+' | Created At:- '+${rep.createdAt}"></span>
                <table>
                    <td>
                        <div th:if="${rep.name==user.name or user.role=='ROLE_ADMIN'}">
                            <form action="#" th:action="@{'/deleteReply/'+${rep.id}+'/'+${post.id}}" th:method="post">
                                <input class="delete" type="submit" value="delete">
                            </form>
                        </div>
                    </td>
                    <td>
                        <div th:if="${rep.name==user.name or user.role=='ROLE_ADMIN'}">
                            <form action="#" th:action="@{'/updateReplyForm/'+${rep.id}+'/'+${post.id}}"
                                  th:method="get">
                                <input type="hidden" th:name="commentId" th:value="${comment.id}">
                                <input class="update" type="submit" value="Update">
                            </form>
                        </div>
                    </td>
                </table>
                <hr>
                </span>
            </div>
        </div>
    </div>
    <br><br>
</div>
</body>
</html>